@import "./_notifier.scss";
@import "../../node_modules/vuetify/dist/vuetify.css";

.notification-title {
  text-decoration: underline;
  cursor: pointer;
}

.is-uppercase {
  text-transform: uppercase;
}
.has-text-weight-bold {
  font-weight: bolder;
}

.has-text-center {
  text-align: center;
}

.menu__content {
	background: #ffffff;
}

.hide-webview{ width: 0px; height: 0px; flex: 0 1!important; }
.header-bar{ margin-top: 5px!important; }
.header-space{ height: 5px; }
// .dw-patient-banner .column {
//   padding: 0rem;
// }

.toolbar {
  -webkit-app-region: drag;
 }

.toolbar .noDrag{
  -webkit-app-region: no-drag;
 }
 .dw-patient-banner {
   max-height: 85px;
 }

 .is-hidden {
  display:none;
}

$sidebar-bg: #353b48;
$sidebar-width: 250px;
$sidebar-header-height: 96px;

$patient-banner-bg: #feca57;
$patient-banner-deceased-bg: #b2bec3;
$patient-banner-supplement-bg: white;
$patient-banner-supplement-border: 1px solid #dcdde1;
$patient-banner-deceased-border: 3px dashed #2d3436;
$patient-banner-height: $sidebar-header-height;

$main-bg : #dcdde1;

$info-bar-bg: #2e86de;

.sidebar-is-active {
  background-color: lighten($color: #1976d2, $amount: 1);
}

.sidebar-items .list__tile__action {
  justify-content: center!important;
  -webkit-box-pack: center!important;
  min-width:48px!important;
}

html {
  height: 100vh;
  overflow: hidden!important;
  background-color: $main-bg;
}

.has-text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dw {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .router-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  &-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &-info-bar {
    display: flex;
    flex-shrink: 0;
    padding: 0.5em 0.75em;
    color: white;
    background-color: $info-bar-bg;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: $sidebar-width;
    overflow-y: auto;
    background-color: $sidebar-bg;

    .sidebar-icons {
      padding: 0.75em;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: darken($color: $sidebar-bg, $amount: 3);
      }

      &.is-active {
        background-color: darken($color: $sidebar-bg, $amount: 5);
      }

      &.is-hidden {
        display:none;
      }
    }

    &-header {
      height: $sidebar-header-height;
      padding: 0.75em;
      background-color: lighten($color: $sidebar-bg, $amount: 10);
    }
  }

  &-sidebar-collapse {
    width: 3px;
    cursor: e-resize;
  }

  &-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 80px
  }

  &-patient-banner {
    // height: $patient-banner-height;
    background: $patient-banner-bg;
    padding: 1em;
    margin: 0 !important;

    &.is-deceased {
      background-color: $patient-banner-deceased-bg;
      border: $patient-banner-deceased-border;
      border-bottom: none;
    }

    &-supplement {
      padding: 0.5em 1em;
      margin: 0 !important;
      cursor: pointer;
      background-color: $patient-banner-supplement-bg;
      border-bottom: $patient-banner-supplement-border;
      
      &.is-deceased {
        border: $patient-banner-deceased-border;
        border-top: none;
      }

      > .dw-patient-banner .column {
        padding: 0 0.75em;
        border-right: $patient-banner-supplement-border;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
          border-right: none;
        }
      }
    }
  }

  &-frames {
    display: flex;
    flex: 1;
    overflow-y: auto;

    .frames {
      display: flex;
      flex: 1;
    }
  }

  &-login-container {
    height: 100%;

    > .dw-patient-banner .column {
      display: flex;
      align-items: center;

      > .box {
        width: 100%;
      }
    }
  }
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 0.5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(350px);
}

.list__group__header__append-icon {
  display:none;
}

.notifier-body,
.subtitle {
  font-family: 'Roboto', sans-serif;
}

.notification-close {
  right: 0px;
  position: absolute;
  top: 0px;
}

.search-dropdown .card, 
.search-dropdown .list {
  background-color: #E8EDEE!important;
  color: #000!important;
}

.search-dropdown .list .list__tile__mask {
  color: #ffffff;
}
.navigation-drawer > .list:not(.list--dense) .list__tile {
  max-width: 586px;
}

.list__group--active {
  background-color: lighten($color: lightgrey, $amount: 1);
}

.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-50px);
  opacity: 0;
}

.patient-banner-main {
  z-index: 2;
  background-color: #ED8B00 !important;
}

.patient-banner-sub {
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.25);
  z-index: 1;
}

.patient-banner-main .card__text,
.patient-banner-sub .card__text
 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.patient-banner-main .patient-name {
  font-size: 20px;
}

.text-overflow {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.notifications-sidebar,
.menu-sidebar {
  z-index: 7;
  margin-top: 69px!important;
}

.red-module { border-left: 7px solid #DA291C; }
.yellow-module { border-left: 7px solid #FAE100; }
.green-module { border-left: 7px solid #009639; }
.purple-module { border-left: 7px solid #7c2855; }
.orange-module { border-left: 7px solid #ED8B00; }
.blue-module { border-left: 7px solid #0072CE; }
.light-blue-module { border-left: 7px solid #60AFFF; }
.lighter-blue-module { border-left: 7px solid #2AF5FF; }
.pale-blue-module { border-left: 7px solid #96CDFF; }

.widget-title {padding: 15px 0px}