@import "./_notifier.scss";
@import "../../node_modules/vuetify/dist/vuetify.css";

.is-uppercase {
  text-transform: uppercase;
}
.has-text-weight-bold {
  font-weight: bolder;
}

.menu__content {
	background: #ffffff;
}

.hide-webview{ width: 0px; height: 0px; flex: 0 1!important; }
// .header-space{ height: 5px; background-color: #2e86de}
// .dw-patient-banner .column {
//   padding: 0rem;
// }

.toolbar {
  -webkit-app-region: drag;
 }

.toolbar .noDrag{
  -webkit-app-region: no-drag;
 }
 .dw-patient-banner {
   max-height: 85px;
 }

 .is-hidden {
  display:none;
}

$sidebar-bg: #353b48;
$sidebar-width: 250px;
$sidebar-header-height: 96px;

$patient-banner-bg: #feca57;
$patient-banner-deceased-bg: #b2bec3;
$patient-banner-supplement-bg: white;
$patient-banner-supplement-border: 1px solid #dcdde1;
$patient-banner-deceased-border: 3px dashed #2d3436;
$patient-banner-height: $sidebar-header-height;

$main-bg : #dcdde1;

$info-bar-bg: #2e86de;

html {
  height: 100vh;
  overflow: hidden!important;
  background-color: $main-bg;
}

.has-text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dw {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .router-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  &-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &-info-bar {
    display: flex;
    flex-shrink: 0;
    padding: 0.5em 0.75em;
    color: white;
    background-color: $info-bar-bg;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: $sidebar-width;
    overflow-y: auto;
    background-color: $sidebar-bg;

    .sidebar-icons {
      padding: 0.75em;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: darken($color: $sidebar-bg, $amount: 3);
      }

      &.is-active {
        background-color: darken($color: $sidebar-bg, $amount: 5);
      }

      &.is-hidden {
        display:none;
      }
    }

    &-header {
      height: $sidebar-header-height;
      padding: 0.75em;
      background-color: lighten($color: $sidebar-bg, $amount: 10);
    }
  }

  &-sidebar-collapse {
    width: 3px;
    cursor: e-resize;
  }

  &-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-patient-banner {
    // height: $patient-banner-height;
    background: $patient-banner-bg;
    padding: 1em;
    margin: 0 !important;

    &.is-deceased {
      background-color: $patient-banner-deceased-bg;
      border: $patient-banner-deceased-border;
      border-bottom: none;
    }

    &-supplement {
      padding: 0.5em 1em;
      margin: 0 !important;
      cursor: pointer;
      background-color: $patient-banner-supplement-bg;
      border-bottom: $patient-banner-supplement-border;
      
      &.is-deceased {
        border: $patient-banner-deceased-border;
        border-top: none;
      }

      > .dw-patient-banner .column {
        padding: 0 0.75em;
        border-right: $patient-banner-supplement-border;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
          border-right: none;
        }
      }
    }
  }

  &-frames {
    display: flex;
    flex: 1;
    overflow-y: auto;

    .frames {
      display: flex;
      flex: 1;
    }
  }

  &-login-container {
    height: 100%;

    > .dw-patient-banner .column {
      display: flex;
      align-items: center;

      > .box {
        width: 100%;
      }
    }
  }
}